## FREE Python Programming Course

- **Classes**: 26th December 2023 to 01st January 2024
- **Timing** : 09:30 AM --1100 AM Eastern Standard Time (EST)
- **Medidum of Instruction**: English
- **Mode of delivering lecture**: Zoom

Please like, follow, and share my Facebook Page. It will encourage me to offer more programming courses.
https://www.facebook.com/LearnR4Datascience

0

## What will be covered in first two lectures?

Basic data types
- Integers
 - Floating point numbers
 - String
 - Boolean Types
 
Operators
- Arthimetic Operators
 - Comparison Operators
 - Logical Operators
 - Identity Operators
 - Assignment Operators
 
What is the conception of variable in Python Programming?

Method versus attribute distinction

Python's basic data structures (data containers)
- List
- Tuple
- Dictionary
- Set

Exploring mutability and immutability in detail. I will continously repeat this concept throughout this course.

## Basic data types in Python
 - Integers
 - Floating point numbers
 - String
 - Boolean Types

In [ ]:
# It is important to understand basic data types because we can perform different types of operation depending on the data type.

# Integer

In [ ]:
integer1 = 50

In [ ]:
integer2 = 80

In [ ]:
integer = 25  # Integers are whole number (matehmatics).

In [ ]:
int(52.99) # Function that returns integer. This built-in function can convert the input to integer.

In [ ]:
type(integer1) # How to check the type of primitive data structure in Python? Just use type() function

# Floating point decimal

In [ ]:
floating_point = 1.0  #number with the decimal point.

In [ ]:
type(floating_point) # Again you can use the type() function to confirm the floating point decimal type

In [ ]:
0.004 # scientific notation of this number 4e-3 but infact the number is floating point

In [ ]:
4e-3 ## it is also a float

In [ ]:
type(4e-3)

In [ ]:
1.79e308  # The largest positive floating point number that you can save in Python

In [ ]:
1.8e308 # floating point number

In [ ]:
type(4e3)

# String

In [ ]:
# Strings are sequence of characters. Space is also a character. You can contain as many characters in a string as you like.

In [ ]:
first_programming_language = "Python" # String is another basic data type. Something wrapped in a single or double quote

In [ ]:
first_programming_language

In [ ]:
type(first_programming_language) ## type() function gives you type of basic data type

In [ ]:
str1 = 'Single quote' # String wrapped in an opening and closing single quote

In [ ]:
str2 = "Double quote" # String wrapped in an opening and closing double quotes

In [ ]:
str_or_int = "5"

In [ ]:
type(str_or_int)

In [ ]:
str_or_float = 5.0

In [ ]:
type(str_or_float)

In [ ]:
print("5 4 3") ## These numbers are infact string.

In [ ]:
faulty_String = "5"    # opening (single or double) quote must be matched with closing single or double quote.

In [ ]:
word = "sum"

In [ ]:
sentence = "I am a sentence" # string could be a word or sentence.

In [ ]:
 q =  'Double quote ("") is a part of the sentence'

In [ ]:
print(""" Multi-line string is also known as docstring amongst
Python community. It includes details about the""")

# Boolean: True/False

In [ ]:
Bool1 = True

In [ ]:
type(Bool1)

In [ ]:
Bool2 = False

In [ ]:
type(Bool2)

In [ ]:
bool_or_String = "True"

In [ ]:
type(bool_or_String)

# Operators and Expressions

**Operators**: Operators are special symbols or keywords that perform various operations on values or variables. 
They are used to manipulate and perform computations on operands, which can be variables, literals, or expressions.

**Expressions**:Expressions, on the other hand, are combinations of values, variables, and operators that evaluate to a single value. They are the building blocks of statements and represent computations or operations to be performed

 - **Arthimetic Operators**
 - **Comparison Operators**
 - **Logical Operators**
 - **Identity Operators**
 - **Assignment Operators**
 - **Membership Operators**

## Arthimetic Operators

Obviously, arthimetic operators perform operations on numeric data (integer and float)

Arithmetic Operators:
- **Addition (+)**: Adds two operands.
- **Subtraction (-)**: Subtracts the second operand from the first.
- **Multiplication (*)**: Multiplies two operands.
- **Division (/)**: Divides the first operand by the second (returns a float).
- **Floor Division (//)**: Divides the first operand by the second and rounds down to the nearest integer.
- **Modulo (%)**: Returns the remainder of the division.
- **Exponentiation (\*\*)**: Raises the first operand to the power of the second

In [ ]:
type(14/3)

In [ ]:
5 / 2.0  # + is an addition operator. Float or integer. What will be returned?

In [ ]:
age1 = 18

In [ ]:
age2 = 20

In [ ]:
age1 +  age2

In [ ]:
4/2 ## returns an integer or float? you can check the result with type()

In [ ]:
type(4/2)

In [ ]:
14//3  ## Floor division: round down to the nearest (smallest) integer

In [ ]:
5 % 4  ## Returns the remainder of the division. You can check whether the number is even or odd using modulo operator (%)

In [ ]:
4**2 # 4 raised to the power 2

## Comparison Operators

**Comparison operators returns boolean True or False. You can compare numbers, string even booleans (not so common)**.

Comparison Operators:

- **Equal to (==)**: Checks if the values of two operands are equal.
- **Not equal to (!=)**: Checks if the values of two operands are not equal.
- **Greater than (>)**: Checks if the left operand is greater than the right operand.
- **Less than (<)**: Checks if the left operand is less than the right operand.
- **Greater than or equal to (>=)**: Checks if the left operand is greater than or equal to the right operand.
- **Less than or equal to (<=)**: Checks if the left operand is less than or equal to the right operand.

In [ ]:
5 == 2  # Returns False

In [ ]:
# Equality comparisons on floating points
y = 2.1 + 2.2 
y == 4.3 ## Surprisingly this equality comparison gives you false. 

#This is because float values are not stored very precisely.

In [ ]:
# The solution is to allow tolerance

tolerance = 0.0001
y = 2.1 + 2.2

abs(y - 4.3) < tolerance

In [ ]:
"R" == "Python" ## comparing two strings. Returns False

In [ ]:
"PythoN" == "Python"

In [ ]:
"Mathematics" != "Data science"

In [ ]:
True == False ## comparing two booleans

In [ ]:
len("Java") == len("JAVA") ##len() function gives you the length of string

In [ ]:
type(5 < 2) ## What will be the output data type? Always keep an eye on output data type. Make it your habit

In [ ]:
6 >=6 # 5 less than or equal to

## Logical Operators

**Logical operators that combine two or more boolean expressions. Logical opeators are "and", "or", "not"**

"And" logical operator

- True and True = True 
- True and False = False
- False and True = False
- False and False = False

In [ ]:
x = 10

In [ ]:
 (x < 20) and (len("python") < 10)

In [ ]:
older_than_18 = False
car_licence = False

older_than_18  &   car_licence  ## Two conditions should be simultaneously met for driving eligibility

In [ ]:
num = 5

if num > 0 and num % 2 == 0:
    print("The number is positive and even.")
else:
    print("The number is either not positive or not even.")

"or" logical operator

- True or True = True 
- True or False = True
- False or True = True
- False or False = False

In [ ]:
# Check if a student has passed in at least one subject
math_score = 25
science_score = 50

if math_score >= 50 or science_score >= 50:
    print("The student has passed at least one subject.")
else:
    print("The student has failed both subjects.")

In [ ]:
z = 15
not(z ==15)

In [ ]:
not True

In [ ]:
not False

Evaluation of non-Boolean values in Boolean context

### True
- **Numerical Values**: Any non-zero value (integer or decimal) is considered True. This includes positive numbers and negative   numbers (e.g., bool(1) is True)
- **String**: Non-empty string is True
- **Composite Data Structures**: Built-in Composite data structures (list, tuple, set, dictionary): Non-Empty built-in composite data structure is True.

### False
- **Zero**: 0 is False in boolean context. you can verifcy with bool(0). Any value that is numerically zero should be understood 
as false in boolean context.
- **String** : An empty string is false
- **None** : Built-in keyword None is always False

In [7]:
print(bool(1),bool(-5.2), bool(2),bool("Imran"))

True True True True

In [8]:
bool(0)

False

In [9]:
print(bool([]), bool([1,2,3]))

False True

# Assignment Operator

Assignment Operators:

- **Assignment (=)**: Assigns a value to a variable.
- Addition Assignment (+=): Adds the right operand to the left operand and assigns the result to the left operand.
- Subtraction Assignment (-=): Subtracts the right operand from the left operand and assigns the result to the left operand.
- Multiplication Assignment (*=): Multiplies the left operand by the right operand and assigns the result to the left operand.
- Division Assignment (/=): Divides the left operand by the right operand and assigns the result to the left operand

# Identity Operators

In [ ]:
# "is" and "is not" are the identity operators.
# They test whether the two variables are referring to the same or different objects in the memory.
# Identity operator "is" tests whether the two variables (operands or objects) share the same memory address.
# How do you find memory address of something? Use id()
# Identity operator "is not" tests whether the two varaibles are different objects in the memory.
# Identity operator ("is") is different from the equality operator (==).

In [11]:
x = 2020
y = 2020

In [12]:
x == y # The value of two variables (operands) is equal to each other.

True

In [13]:
x is y # Although x and y have same value, they are two different (independent) objects in the memory.

False

In [14]:
id(x) # gives you the memory address of x

2239122532912

In [15]:
id(y) # gives you the memory address of y. variables x and y dont have common memory address.
# Therefore, x and y are two different objects in the memory.

2239122531344

In [17]:
# It is possible for the two variables to have the "same value" and same "memory address".

a = 2005
b = a

In [18]:
a == b

True

In [19]:
a is b

True

In [20]:
id(a)

2239124801776

In [21]:
id(b)

2239124801776

In [ ]:
id(a) == id(b) ## The two variables have the same values but also same objects in the memory.

In [ ]:
## What would happen to the value of variable "b" if the new value "2010" is assigned to the variable "a"? 
## Remember Integer, float, string and boolean all are immutable. In other words, all four basic data types are immutable.
a = 2010

In [ ]:

id(a)== id(b)

## Membership Operator

In Python, **membership operators are used to test whether a value is a member of a sequence or not. The two membership operators are:**

**in** operator:
Returns True if a value is found in the sequence.
Returns False otherwise.

**not in** operator:
Returns True if a value is not found in the sequence.
Returns False otherwise.

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Check if 3 is in the list
print(3 in numbers)  

# Check if 8 is in the list
print(8 in numbers)

## Variables in Python

In [ ]:
# Dynamically typed versus statitcally typed language. Python is a dynamically typed language.
# In dynamically typed language, we don't need to initially declare the data type the variable will hold. And the value of 
# different data type can be assigned to the variable

In [ ]:
var = "String" ## we did not initially declare what type of data will be stored in the variable named "var"

In [ ]:
# Let us assign the value of different data type to the variable named "var"
var = 5

In [ ]:
#variable name cannot start with numbers. But variable name can contain digits except the first character of the variable.
#We cannot use existing keywords reserved in Python eg,False, True, None, for, while, not, and, or, in etc.
#Variable name cannot contain spaces.

In [22]:
##Python also allows chained assignment. A single value is assigned to multiple variables simultaneously

p = q = r = "PythonLovers"
print(p,q,r)

PythonLovers PythonLovers PythonLovers

In [25]:
p is r

True

In [ ]:
## Give example and visually explain

## Python's data structure
- List
- Tuple
- Dictionary
- Set

In programming, a data structure is a way of **organizing** and **storing data** in a computer's memory so that it can be efficiently **accessed** and **manipulated**. It provides a means for representing and organizing data in a logical and efficient manner, allowing for efficient data retrieval, insertion, deletion, and modification operations.

**Lists**: Lists are "ordered", mutable collections of elements. They can contain elements of different types and are enclosed in square brackets ([]). Lists support various operations such as indexing, slicing, appending, inserting, and more.

**Tuples**: Tuples are similar to lists but are "immutable", meaning they cannot be modified after creation. They are enclosed in parentheses (()) and are commonly used to group related elements. Tuples can be accessed using indexing and slicing.

**Sets**: Sets are "unordered" collections of "unique elements". They do not allow duplicate values and are useful for membership testing and eliminating duplicates from other collections. Sets are created using curly braces ({}) or the set() function.

**Dictionaries**: Dictionaries are key-value pairs where each value is associated with a unique key. They provide efficient lookup operations and are useful for mapping and retrieving values based on keys. Dictionaries are created using curly braces ({}) or the dict() function.

## Lists

The important characteristics of Python lists are as follows:

- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic

(Read realpython blog https://realpython.com/python-lists-tuples/)

In [1]:
a = ['foo', 'bar', 'baz', 'qux']

In [2]:
len(a)

4

In [3]:
b = ['baz', 'qux', 'bar', 'foo']

In [4]:
a == b  ##The two Lists that have the same elements but in a different order. Therefore, they are not the same:

False

In [5]:
a is b  ## The two lists are the different objects in memory. The two lists have different memory address.Confirm with id()

False

In [6]:
id(b)==id(a)

False

In [10]:
programming = ["Python","Java","R","Netlogo"] # all the elements are of same data type. Lists are flexible we can store any
#type of data in a list. Lists can even contain complex objects like functions, classes.

In [11]:
varying_data_type = [1, 5.5, True, "False"]

In [12]:
no_unique = ["R","Python","Java", "R"] ##list elements are not required to be unique. They could be different or same.

In [14]:
programming[0:3]  ## We will study indexing in details in coming week. But at this point we need to know that lists are indexable.

['Python', 'Java', 'R']

In [ ]:
## Membership operators: "in" and "not in" check whether the element exists or does not exist in any data structure

In [ ]:
"Python" in programming ## This check whether "R" is one of elements in "programming", which ia a list.

In [36]:
Nested_list = ["Java", "Ruby", "Javascript", ["R", "Python"]]

In [37]:
Nested_list

['Java', 'Ruby', 'Javascript', ['R', 'Python']]

Nested_list	 a	 b	 p	 programming	 q	 r	 varying_data_type	 x
y

In [ ]:
"Python" in Nested_list ## Membership operator does not check the element in nested data structures within list.

In [39]:
for object in Nested_list:   ## for loop is the answer
    if "Python" in object:
        print("Python exists in the nested list")

Python exists in the nested list

In [15]:
a = [1,2,3]

In [16]:
len(a)

3

In [17]:
## Concatenation (+) and replication of the lists (*)
bigger_list = programming + a ## We are combining two lists into a bigger list. Plus operator does more than simple arthimetic
# operations
##c = b*2  ##

In [44]:
bigger_list

['Python', 'Java', 'R', 'Netlogo', 1, 2, 3]

In [ ]:
b = ["R","Python"]

In [ ]:
## The functions that we can use for lists is min(), max() and len(). Create a list with numbers and use these functions

In [18]:
dir(list) ##these are all the methods we can use on list objects.

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']  ## Nested lists within a list. Lists can be nested 
# to any complexity or depth. No restriction.

In [20]:
numeric_list = [5, 6, 7, 8, 9]

In [21]:
len(numeric_list)

5

In [22]:
min(numeric_list)  ## you have to write your own function. This is for later lectures

5

In [23]:
max(numeric_list)

9

In [24]:
numeric_nestedlist = [5, 6, 7, 8, 9, [1,2,3]]

In [25]:
len(numeric_nestedlist)

6

In [26]:
min(numeric_nestedlist) ## write your own function to find the minimum value in the nested list

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
max(numeric_nestedlist)

In [ ]:
##Lists are mutable.Once a list has been created, elements can be added, deleted, shifted, and moved around at will. 
##Python provides a wide range of ways to modify lists.

In [ ]:
numeric_list

In [ ]:
numeric_list[1] = 999  ## The counting starts with zero in Python. The element at the first position is indexed with zero.

In [ ]:
numeric_list

In [ ]:
del numeric_list[1] ## you can delete the item in a list with del command

In [ ]:
## How to modify multiple elements of the list simultaneously?

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [ ]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5] ## Modifying multiple elements in a list when the elements are in sequence

In [ ]:
a

In [ ]:
b = [1, 2, 3]

In [ ]:
b[1:2] = [2.1, 2.2, 2.3] ## You can replace a single element with multiple elements in list. We can also relace the 
##single element with a list.

In [ ]:
b ## element 2 is replaced with elements 2.1, 2.2 and 2.3

In [ ]:
b[4] = [5,6,7,8] ## This syntax allows replacing an element with list.

In [ ]:
b

In [ ]:
## There are also some methods that modify lists. Remember the list methods modify the original list in place. They don't
## return the new list.

## list.append(<obj>) appends object <obj> to the end of list a

## list.extend(<iterable>)Extends a list with the objects from an iterable.extend() also adds to the end of a list, 
## but the argument is expected to be an iterable. The items in <iterable> are added individually.

## list.insert(<index>, <obj>) inserts object <obj> into list at the specified <index>.

## list.remove(<obj>) removes object <obj> from list a. If <obj> isn’t in a, an exception is raised

In [34]:
ls = [99, 100]

In [30]:
help(list.append) ## How to call help for any method in jupyter notebook?

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [32]:
ls.append([555, 25])

In [33]:
ls

[99, 100, [555, 25]]

In [ ]:
ls.extend([25]) ## you are appending a single element at the end of list

In [35]:
ls.extend(["R","Python"]) ## When we are appending multiple elements, it will be appendend as a single nested list.

In [36]:
ls

[99, 100, 'R', 'Python']

In [43]:
ds_requirements = ["linear algebra","multivariable calculus", "Probability distributions"]

In [44]:
ds_requirements.extend(["Python","R"])

In [45]:
ds_requirements ## did not add the elements as a list but added individually.

['linear algebra',
 'multivariable calculus',
 'Probability distributions',
 'Python',
 'R']

In [46]:
ds_requirements.insert(3, "Machine Learning") ## inserted an element "Machine Learning" at the position 4.

In [48]:
dir(ds_requirements)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [47]:
ds_requirements

['linear algebra',
 'multivariable calculus',
 'Probability distributions',
 'Machine Learning',
 'Python',
 'R']

In [ ]:
ds_requirements.remove("Machine Learning") ## remove an element

## Tuples

- Tuples are ordered
- Tuples are immutable

In [ ]:
##Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([])
## All elements of the tuple could be of same data type or they could be of different data type.

In [50]:
t = () ## this is empty tuple. There is o ambiguity defining empty tuple.
type(t)
t1 = (2,3)  ## there is no ambiguity when defining the tuple with two or more elements.
type(t1)
t2 = (5)    ## this is integer not tuple
t3 = (5,)   ## this is the correct way to create the tuple with a single element.
print(type(t), type(t1),type(t2),type(t3))

<class 'tuple'> <class 'tuple'> <class 'int'> <class 'tuple'>

In [51]:
tup1 = (5, 2, 3, 100, 54)

In [58]:
type(tup1)

tuple

In [60]:
tup2 = ("Imran", 757, 100.50, True)  ## all elements are of different data types.

In [68]:
tup2

['Python', 757, 100.5, True]

In [67]:
tup2[0] = "Python" ## Why are we getting error

In [69]:
dir(tuple) ## tuples dont have extend, insert, remove and append methods because these are modifying methods.

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [70]:
%who 

##In Jupyter Notebook, you can use the %who magic command to display the variables that exist in the current namespace. 
##This command lists all the interactive variables, functions, and modules that have been defined.

a	 b	 bigger_list	 ds_requirements	 ls	 no_unique	 numeric_list	 numeric_nestedlist	 programming
t	 t1	 t2	 t3	 tup1	 tup2	 varying_data_type

In [71]:
%whos

##ou can also use the %whos magic command to get more detailed information about the variables, 
##including their values and other attributes.

Variable             Type     Data/Info
---------------------------------------
a                    list     n=3
b                    list     n=4
bigger_list          list     n=7
ds_requirements      list     n=6
ls                   list     n=4
no_unique            list     n=4
numeric_list         list     n=5
numeric_nestedlist   list     n=6
programming          list     n=4
t                    tuple    n=0
t1                   tuple    n=2
t2                   int      5
t3                   tuple    n=1
tup1                 tuple    n=5
tup2                 list     n=4
varying_data_type    list     n=4

## Tuple packing and unpacking

**Tuple packing** refers to the process of packing multiple values into a tuple. This is done by separating the values with commas, and Python automatically creates a tuple.

**Tuple unpacking** involves extracting values from a tuple and assigning them to variables. The number of variables on the left-hand side of the assignment must match the number of elements in the tuple

In [80]:
# Tuple packing
my_tuple = (1, "Hello", 3.14)

print(my_tuple)

(1, 'Hello', 3.14)

In [73]:
# Tuple unpacking
a, b, c = my_tuple

print(a) 
print(b)  
print(c)

1
Hello
3.14

In [75]:
t = ('foo', 'bar', 'baz', ["R","Python"])

In [76]:
s1, s2, s3, s4 = t #When unpacking, the number of variables on the left must match the number of values in the tuple

In [78]:
print(s1, s2, s3, s4)

foo bar baz ['R', 'Python']

In [ ]:
s1, s2, s3, s4 = ('foo', 'bar', 'baz', 'qux')

## Set

- Sets are **unordered**.
- Set elements are **unique**. Duplicate elements are not allowed.
- A set itself may be modified, but the elements contained in the set must be of an **immutable type**.

In [ ]:
## a set can be thought of simply as a well-defined collection of "distinct objects", typically called elements or members.
## Sets are distinguished from other object types by the unique operations that can be performed on them.

In [ ]:
##Two ways of creating set
## 1.    x = set(<iter>) ## the argument <iter> should be iterable like list and tuple
## 2.    abc = {28, 24, 32, 100} ## with curly braces

In [81]:
p = set(['foo', 'bar', 'baz', 'foo', 'qux']) ## set from list data structure

In [83]:
zee = {1, 1.0, 2, 2.0}

In [84]:
zee

{1, 2}

In [85]:
q = set(('foo', 'bar', 'baz', 'foo', 'qux')) ## set from tuple data structure

In [86]:
print(p)   ## the original order is not preserved in the set. Order does not matter

{'foo', 'baz', 'bar', 'qux'}

In [87]:
##Strings are also iterable, so a string can be passed to set() as well

set("Rachana")

{'R', 'a', 'c', 'h', 'n'}

In [88]:
q = {'foo', 'bar', 'baz', 'foo', 'qux'} ## repetitive elements in set will be removed automatically.

In [89]:
r = {'q', 'u', 'u', 'x'}

In [90]:
## A set can be empty. What is the proper way to define empty set

empty_set1 = {}     ## empty curly braces are not set. This is empty dicitionary
empty_set2 = set()  ## proper way to define empty set

print(type(empty_set1), type(empty_set2))

<class 'dict'> <class 'set'>

In [ ]:
## What is empty set in boolean context? How to check? Recall

In [94]:
bool([5,4])

True

In [95]:
S1 = {2, 4, 6, 8, 10}   ## all the elements are of same data type in the two sets in this cell. could be of different data type.
s2 = {'Smith', 'McArthur', 'Wilson', 'Johansson'}

In [ ]:
different_elements = {42, 'foo', 3.14159, None}

In [ ]:
## We can only include immutable elements in the set. We can include tuple as an element but not list and dictionary as an
## element in Python'set.
g = {42, 'foo', (1, 2, 3), 3.14159}

In [ ]:
g

In [ ]:
g = {42, 'foo', [1, 2, 3], 3.14159} ## This will give you error.

In [ ]:
len(g) ## length of set

In [ ]:
"foo" in g  ## membership operator

Most, though not quite all, set operations in Python can be performed in two different ways: **by operator or by method**

In [99]:
x1 = {'foo', 'bar', 'baz'}
x2 = ('baz', 'qux', 'quux')

In [101]:
x1 | x2   ## union operator. Both operands must be set. Combines the unique combination of elements in two sets.

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [100]:
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [ ]:
x3 = (1, 2, 3, 4)

x1 | x3    ## Why am I getting error? Both operands not set.

In [ ]:
## union method
x1.union(x3)    ## the argument to the union could be any iterable list, tuple, dicitonary

In [ ]:
dir(set)

In [ ]:
## Union of more than two sets through union operator and by union method.

a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

c.union(a, d, b)
{1, 2, 3, 4, 5, 6, 7}

a | b | c | d

In [ ]:
dir(set)  ## all the methods avaible for sets.

In [ ]:
## Intersection operator and method

In [ ]:
y1 = {'foo', 'bar', 'baz'}
y2 = {'baz', 'qux', 'quux'}

In [ ]:
y2.intersection(y1)  ## intersection method

In [ ]:
y1 & y2         ## intersection operator

In [ ]:
## Intersection of multiple sets by operator and method

a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

d.intersection(a, c, b)


a & b & c & d

In [ ]:
## Set difference 

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.difference(x2) ## difference method. all the elements in x1 that are not in x2


x1 - x2          ## difference operator

In [ ]:
##Differencing multiple sets
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

a.difference(b, c) ## all the elements in set a that are not in b and c


a - b - c   ## do differencing from left to right

In [ ]:
## Modifying a set

## Although the elements contained in a set must be of immutable type, sets themselves can be modified

## Modify a set by union
##x1.update(x2[, x3 ...])
##x1.update(x2) and x1 |= x2 add to x1 any elements in x2 that x1 does not already have

## Modify a set by intersection
## x1.intersection_update(x2) and x1 &= x2 update x1, retaining only elements found in both x1 and x2

## Modify a set by difference
##x1.difference_update(x2) and x1 -= x2 update x1, removing elements found in x2

## Other methods to modify set

##Adds an element to a set
##x.add(<elem>) adds <elem>, which must be a single immutable object, to x

##Removes an element from a set
##x.remove(<elem>) removes <elem> from x. Python raises an exception if <elem> is not in x

##Removes a random element from a set
##x.pop() removes and returns an arbitrarily chosen element from x. If x is empty, x.pop() raises an exception

##Clears a set
##x.clear() removes all elements from x. The set becomes empty.

## Dictionary

A dictionary is a built-in data type that represents an unordered collection of key-value pairs.Dictionaries are incredibly useful for storing and retrieving data efficiently, as they provide fast access to values based on their associated keys

**Unordered**: Dictionaries are unordered collections, which means that the elements are not stored in any particular order. Unlike lists or tuples that are indexed by position, dictionaries are indexed by keys.

**Mutable**: Dictionaries are mutable, meaning you can modify, add, or remove key-value pairs after the dictionary is created. This allows for dynamic updates to the dictionary.

**Key-Value Pairs**: Dictionaries consist of key-value pairs, where each key is unique and associated with a value. The key serves as an identifier or label for accessing the corresponding value. Values in a dictionary can be of any data type, and they can be duplicated.

**Key-Based Access**: Dictionary values are accessed using their corresponding keys rather than positions or indices. This key-based access allows for efficient retrieval of values, especially when dealing with large amounts of data.

**Key Immutability**: Dictionary keys must be immutable objects, meaning they cannot be changed once they are assigned. Common key types include strings, numbers, and tuples (as long as they contain immutable elements).

**Dynamic Size**: Dictionaries can dynamically grow or shrink as key-value pairs are added or removed. The size of a dictionary is not fixed, allowing for flexible storage and manipulation of data.

**No Duplicate Keys**: Dictionaries do not allow duplicate keys. If you attempt to assign a value to an existing key, it will update the associated value rather than creating a duplicate entry.

**Iteration**: Dictionaries can be iterated using loops to access all the keys or values, or both, using methods such as keys(), values(), or items().

Efficient Search: Due to their hash table implementation, dictionaries provide fast search operations. Instead of iterating through all the elements, dictionaries use the key's hash value to quickly locate the associated value.

In [102]:
my_dict = {"name": "John", "age": 25, "city": "New York"}

**Syntax**: A dictionary is created using curly braces {} or the built-in dict() function. Each key-value pair is separated by a colon (:), and different pairs are separated by commas.

**Keys**: Keys in a dictionary must be unique and immutable, meaning they cannot be changed once created. Common key types include strings, numbers, and tuples (as long as they contain immutable elements).

In [105]:
my_dict = {"name": "John", 42: "forty-two", (1, 2): "tuple key", True: "boolean key"}

In [109]:
my_dict[42]

'forty-two'

In [110]:
print(my_dict["name"])      # Output: John
print(my_dict[42])         # Output: forty-two
print(my_dict[(1, 2)])     # Output: tuple key
print(my_dict[True])       # Output: boolean key

John
forty-two
tuple key
boolean key

**Values**: Values in a dictionary can be of any type, and they can be changed or duplicated. This means that a dictionary can contain different value types for different keys. For example

In [ ]:
my_dict = {"name": "John", "age": 25, "grades": [85, 90, 92]}

**Accessing Values**: To retrieve a value from a dictionary, you can use square brackets [] with the corresponding key. If the key doesn't exist, it will raise a KeyError. Alternatively, you can use the get() method, which returns None if the key is not found. Here are examples of both methods

In [111]:
my_dict = {"name": "John", "age": 25, "city": "New York"}

# Using square brackets
print(my_dict["name"])  # Output: John

# Using get() method
print(my_dict.get("age"))  # Output: 25

John
25

**Modifying Values**: You can modify the value associated with a specific key by assigning a new value to that key. If the key doesn't exist, it will be added to the dictionary. Here's an example:

In [112]:
my_dict = {"name": "John", "age": 25, "city": "New York"}

my_dict["age"] = 26  # Modifying an existing value
my_dict["gender"] = "Male"  # Adding a new key-value pair

print(my_dict)  # Output: {'name': 'John', 'age': 26, 'city': 'New York', 'gender': 'Male'}

{'name': 'John', 'age': 26, 'city': 'New York', 'gender': 'Male'}

**Dictionary Methods**: Python dictionaries come with several built-in methods for performing various operations. Some commonly used methods include keys(), values(), items(), pop(), popitem(), clear(), copy(), and more. Here's an example of using some of these methods

In [113]:
my_dict = {"name": "John", "age": 25, "city": "New York"}

print(list(my_dict.keys()))  # Output: dict_keys(['name', 'age', 'city'])
print(list(my_dict.values()))  # Output: dict_values(['John', 25, 'New York'])
print(list(my_dict.items()))  # Output: dict_items([('name', 'John'), ('age', 25), ('city', 'New York')])

my_dict.pop("age")  # Removes the key-value pair with key "age"
print(my_dict)

['name', 'age', 'city']
['John', 25, 'New York']
[('name', 'John'), ('age', 25), ('city', 'New York')]
{'name': 'John', 'city': 'New York'}

In [ ]:
dir(my_dict)

### Quick check: How do you know whether the basic data type (or composite data type) is immutable?

In [ ]:
## When you want to modify the immutable object, you create the new object 
## with different id()
x = 10
print(id(x))
x += 1
print(id(x))

In [ ]:
s = "Hello"
print(id(s))
s += " World"
print(id(s))

In [ ]:
t = (1, 2, 3)
print(id(t))
t += (4,)
print(id(t))

In [ ]:
l = [1, 2, 3, 4]
print(id(l))
l += [4,5]
print(id(l))